h1, h2 {
  font-family: Lato;
}
body{
  background-color: #232323;
}
header{
  // background-color: #999FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 50px;
    color: white;
  }
}
#medium-bar{
  background-color: #FFFCCC;
  display: flex;
  justify-content: center;
  small{
    border-radius: 10%;
    padding: 10px;
  } 
  .new-game{
    margin-right: 200px;
    border-radius: 10%;
  } 
  padding : 2px 0;
}
.squereContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: auto;
  width: 550px;
  // background-color: purple;
  .squere{
    height: 150px;
    width: 150px;
    background-color: grey;
    margin: 10px;
    border-radius: 25%;
    list-style: none;
  }
}