h1, h2 {
  font-family: Lato;
}
body{
  background-color: #232323;
}
header{
  background-color: #999FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 50px;
    color: white;
  }
}
#medium-bar{
  background-color: #FFFCCC;
  display: flex;
  small{
    padding: 5px;
  }  
  margin-bottom: 30px;
}
.squereContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: auto;
  width: 550px;
  // background-color: purple;
  .squere{
    height: 150px;
    width: 150px;
    background-color: grey;
    margin: 10px;
    border-radius: 25%;
    list-style: none;
  }
}